<!-- NOTE: TikTok requires you to import their script. Also note, we don't 
           use the custom CSS container which we used for other providers such as
           Youtube since TikTok handles it on their own -->

<!-- <blockquote
    class="tiktok-embed" 
    data-video-id="{{ include.id }}"
    style="
    position: relative;
    padding-left: 25%;
    padding-right: 25%;"> 
    <a href="https://www.tiktok.com/"></a> 
</blockquote> -->

<p align="center"> <iframe src="https://www.tiktok.com/embed/v2/{{ include.id}}" height="760" width="320">  </iframe></p>
<!-- <p align="center"> <iframe src="https://www.tiktok.com/embed/v2/7161588678953880837" height="760" width="320">  </iframe></p> -->

<!-- <script async src="https://www.tiktok.com/embed.js"></script> -->