blockquote {
  border-left: 4px solid #455172;
  font-style: italic;
  
  // padding: $space-1;
  
  margin-left: $space-2;
  margin-top: $space-3;
  margin-bottom: $space-3;
  padding-top: 10px;
  padding-bottom: 0.05px;
  padding-left: $space-3;
  padding-right: $space-3;
}

blockquote,
blockquote p {
  font-size: $h3;
  font-style: italic;
}

blockquote footer {
  border-radius: 5px;
  background-color: #455172;
  border-color: transparent;
  color: #ffffff79;
  font-size: .75rem;
  font-style: normal;
  text-align: left;
  padding: 1px;
  padding-left: 10px;
}
