@media screen and (min-width: $viewport-small) {
  html {
    // font-size: 16px;
    font-size: .9rem;
  }

  h1,
  .h1 {
    font-size: $h1;
    color: $h-color
  }

  .site-header {
    text-align: left;
  }

  .site-nav {
    margin-top: 0;
  }

  .site-header a {
    font-size: $h2;
  }

  .site-header .site-title {
    margin-top: 1rem;
    font-size: $h2;
    float: left;
  }

  .site-header .site-nav {
    float: right;
    margin-top: .1rem;
  }

  // blockquote {
  //   margin-left: $space-3;
  //   padding: $space-3;
  // }

  .social-icons-left {
    text-align: left;
  }

  .social-icons-right {
    float: right;
    margin-top: -1rem;
  }
}

@media screen and (min-width: $viewport-medium) {
  html {
    font-size: 1.15rem;
  }

  .site-header .site-title {
    margin-top: 0;
    font-size: $h2;
    float: left;
  }

  .site-header .site-nav {
    float: right;
    margin-top: -.8rem;
  }
}

@media screen and (min-width: $viewport-large) {
  html {
    font-size: 1.2rem;
  }
  
  .site-header .site-title {
    // margin-top: 0.2rem;
    font-size: $h2;
    float: left;
  }

  .site-header .site-nav {
    float: right;
    margin-top: -.8rem;
  }
}

@media screen and (min-width: $viewport-large + 14) {
  em img {
    max-width: $measure-width + 14;
    margin-left: -7em;
  }
}
